* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/images/Texture.png");
  font-family: 'JetBrains Mono';
  font-size: 16px;
  color: #8891aa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  color: #72cb48
}

a:visited {
  color: #72cb48
}

/* Buttons */

.largeButton {
  padding: 10px 40px;
  font-size: 2rem;
  font-family: 'JetBrains Mono';
  font-weight: bold;
  letter-spacing: 0.4rem;
  border-radius: 18px;
  background-color: #c45544;
}

.largeButton:hover {
  background-color: #ffd588;
  cursor: pointer;
}

.linkButton {
  border: none;
  background: none;
  font-family: 'JetBrains Mono';
  font-weight: bold;
  font-size: 1rem;
  color: #b2d4d4;
  font-size: 1.2rem;
}

.linkButton:hover {
  cursor: pointer;
  color: #66aaf7;
}

/* Components */

.page {
  display: grid;
  grid-template-rows: 78px auto;
  height: 100vh;
  /* Make the container take up the entire viewport height */
}

.header {
  background-color: #114c77;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header--right-group {
  display: flex;
}

.header--right-group>* {
  padding: 0px 20px;
}

.nonheader {
  display: grid;
  grid-template-columns: 158px auto 158px;
}

.middle {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.errors {
  list-style: none;
  color: #ffd588;
}

.errors li {
  padding: 4px;
  border-style: solid;
  border-width: 3px;
  border-color: #ffd588;
  display: flex;
  justify-content: space-between;
}

.errors li svg {
  color: #ffd588;
}

.errors li svg:hover {
  color: #c45544;
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar--elem {
  width: 158px;
  height: 158px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar--active-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

.sidebar--active-area:hover {
  cursor: pointer;
  border-style: solid;
  border-radius: 20px;
  border-width: 4px;
}

.sidebar--active-area>* {
  width: 50%;
  height: 50%;
}

.sidebar--active-area img {
  clip-path: circle();
}

.sidebar--active-area svg {
  fill: #b2d4d4;
}

.avatar-container-big {
  width: 128px;
  height: 128px;
  margin: auto;
}

.avatar-container-big>img {
  background-color: white;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  clip-path: circle();
}

.display-card {
  border-width: 3px;
  border-style: solid;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 250px;
}

.display-card--left {
  width: 171px;
  min-width: 171px;
}

.display-card--handle {
  padding-block: 10px;
  font-weight: bold;
  color: #66aaf7;
}

.display-card--caption {
  padding: 10px;
  width: 209px;
}

.display-card--caption p {
  text-align: left;
  word-wrap: break-word;
  width: 100%;
}

.markdown-renderer {
  font-family: 'JetBrains Mono';
  font-size: 1rem;
  color: white;
  background-color: black;
  text-align: left;
  width: 100%;
}

/* Home */

.home--content {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
}

.home--content section {
  display: flex;
  width: calc(100vw - 316px);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home--content section>p {
  width: 100%;
  word-wrap: break-word
}

.home--content section h2 {
  font-size: 2rem;
}

/* Create Account */

.create-account {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  padding: 0 32px;
}

.create-account--error {
  color: #ffd588;
}

.create-account--form > div {
  padding-block: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-account--form > div > *:not(.create-account--smallcaption) {
  margin: 32px 0;
}

.create-account--smallinputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.create-account--smallinputs > div {
  width: 480px;
}

.create-account--captioninput {
  width: 400px;
  text-align: left;
}

.create-account--smallcaption {
  margin: 0;
}

.create-account--form input {
  font-family: 'JetBrains Mono';
  font-size: 1rem;
  color: white;
  background-color: black;
}

.create-account--form input:not(.create-account--captioninput) {
  text-align: center
}

.create-account--textarea-container {
  width: 100%;
  height: 200px;
  padding: 0 48px;
}

.create-account--form textarea {
  font-family: 'JetBrains Mono';
  font-size: 1rem;
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  padding: 20px;
}

.create-account--form .markdown-renderer {
  padding: 0 48px;
}

.create-account--form .markdown-renderer * {
  max-width: calc(100vw - 496px);
  word-wrap: break-word;
}